{
    "printWidth": 150, 
    "trailingComma": "all",
    "arrowParens": "always",
    "singleQuote": true,
    "semi": true,
    "endOfLine": "lf",
    "overrides": [
      {
        "files":"*.html",
        "options": {
          "parser":"html"
        }
      }
    ]
}
